<div class="movies">
  <div class="movie">
    <% if @movies.blank? %>
      <h4> There are no movies matching the title "<%= params[:movie_title] %>".</h4>
      <%= link_to "Search TMDB", :search_tmdb, id: 'review_btn' %>
    <% end %>
    <% @movies.each do |movie| %>
    <div class="left">
      <%= link_to (image_tag movie.image, class: 'movie_img'), movie %>
      <div class="img_rating">
        <!-- movie rating; should be the user's rating -->
        <!-- <span class=”glyphicon glyphicon-star”></span> -->
      </div>
    </div>
    <div class="right">
      <div class='floater'></div>
      <%= link_to(movie) do %>
        <h2 class='title'><%= movie.title %></h2>
      <% end %>
      <h3 class='release_date'>Release Date: <%= movie.release_date %></h3>
      <h3>Genre: <%= movie.genre %></h3>
      <h3 class='plot'><%= simple_format(movie.plot) %></h3>
      <br style="clear:both;">
    </div>
    <% end %>
  </div>
</div>

<div class="reviews">
  <h2> <u>Reviews</u> </h2>
  <div class='review'>
    <% @reviews.each do |review| %>
      <h3 class='rvw'><%= review.review %></h3>
      <p class='username'><%= review.username %></p>
      <p class='updated'><%= review.updated_at %></p>
    <% end %>
  </div>
  <%= link_to "View All", :all_reviews, id: 'review_btn' %>
</div>
