<div class="movies">
  <div class="movie">
    <% if @tmdb %>
      <h2>Select the movie you're looking for:</h2>
      <br><br><br>
      <% @URL.results.each do |t| %>
        <%= link_to t.title, add_movie_path(id: t.id), id: 'review_btn' %> (<%= t.release_date %>)<br>
        <%= t.overview %>
        <br><br><br><br><br>
      <% end %>
      <br><br>
    <% else %>
      <% @movies.each do |movie| %>
      <div class="left">
        <%= link_to (image_tag movie.image, class: 'movie_img'), movie %>
        <div class="img_rating">
          <!-- movie rating; should be the user's rating -->
          <!-- <span class=”glyphicon glyphicon-star”></span> -->
        </div>
      </div>
      <div class="right">
        <div class='floater'></div>
        <%= link_to(movie) do %>
          <h2 class='title'><%= movie.title %></h2>
        <% end %>
        <h3 class='release_date'>Release Date: <%= movie.release_date %></h3>
        <h3 class='plot'><%= simple_format(movie.plot) %></h3>
        <br style="clear:both;">
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="reviews">
  <h2> <u>Latest Reviews</u> </h2>
  <div class='review'>
    <% @reviews.each do |review| %>
      <h3 class='rvw'><%= review.review %></h3>
      <p class='username'><%= review.username %></p>
      <p class='updated'><%= review.updated_at %></p>
    <% end %>
  </div>
  <%= link_to "View All", :all_reviews, id: 'review_btn' %>
</div>
