<div class="movies">
  <div class="movie">
    <div class="left">
      <%= image_tag @movie.image, class: 'movie_img' %>
    </div>
    <div class="right">
      <div class='floater'></div>
        <h2 class='title'><%= @movie.title %></h2>
      <h3 class='release_date'>
        Release Date: <%= @movie.release_date %><br>
        Genre: <%= @movie.genre %>
      </h3>
      <h3 class='plot'><%= simple_format(@movie.plot) %></h3>
    </div>
    <%= link_to "Add Movie", root_path, id: 'new_btn' %>
  </div>
</div>
