<div class="movie">
  <div class="left">
    <div class='single_movie'>
      <h2 class='new_movie_title'><%= @movie.title %></h2>
      <%= image_tag @movie.image, class: 'movie_img' %>
      <h3>
        Release Date: <%= @movie.release_date %><br>
        Genre: <%= @movie.genre %>
      </h3>
      <%= link_to 'Add a review', new_movie_review_path(movie_id: @movie.id), id: 'review_btn' %>
    </div>
  </div>
  <div class="right">
    <% if @reviews.blank? %>
    <div class='blank_reviews'>
        <h4> No reviews yet... Be the first! </h4>
      </div>
    </div>
    <% else %>
      <% @reviews.each do |review| %>
      <div class='show_review'>
        <div class='all_reviews'>
          <p class='user_review'><%= review.body %></p>
          <p class='username'><%= review.username %></p>
          <p class='updated', id="upd_at"><%= review.updated_at %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
