<div class="header">
  <div class="container">
    <nav>
      <ul>
  			<li><a href="/"> Home </a></li> <li> Search </li> <li> Reviews </li> <li> About </li><li class="signup"> Sign Up / Login </li>
      </ul>
    </nav>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="main">
      <h1>MARQUEE</h1>
      <%= form_for(@user) do |f| %>
      <div class="field">
        <%= f.label :username %>:<br>
        <%= f.text_field :username, placeholder: "USERNAME" %>
        <br>
        <%= f.label :email %>:<br>
        <%= f.email_field :email, placeholder: "EMAIL" %>
        <br>
        <%= f.label :password %>:<br>
        <%= f.password_field :password, placeholder: "PASSWORD" %>
      </div>
      <div class="action">
        <%= f.submit "Create", class: "btn_create" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <p>&copy; Daniel Bacon 2018</p>
  </div>
</div>
