<div class="movies">
  <div class="movie">
    <% @movies.each do |movie| %>
    <div class="left">
      <%= image_tag movie.image, class: 'movie_img' %>
      <div class="img_rating">
        <!-- movie rating; should be the user's rating -->
        <!-- <span class=”glyphicon glyphicon-star”></span> -->
      </div>
    </div>
    <div class="right">
      <div class='floater'></div>
      <h2><%= movie.title %><h2>
      <h3>Release Date: <%= movie.release_date %></h3>
      <h3>Genre: <%= movie.genre %></h3>
      <h3 class='plot'><%= simple_format(movie.plot) %></h3>
      <br style="clear:both;">
    </div>
    <% end %>
  </div>
</div>

<div class="reviews">
  I'm reviews
</div>
