<div class="movie">
  <div class="left">
    <div class='single_movie'>
      <h2><%= @movie.title %></h2>
      <%= image_tag @movie.image, class: 'movie_img' %>
      <h3>Release Date: <%= @movie.release_date %></h3>
      <h3>Genre: <%= @movie.genre %></h3>
    </div>
  </div>
  <div class="right">
    <% if @reviews.blank? %>
      <h4> No reviews yet... Be the first! </h4>
    <% else %>
      <% @reviews.each do |review| %>
      <div class='review'>
        <div class='all_reviews'>
          <p class='user_review'><%= review.review %></p>
          <p class='username'><%= review.username %></p>
          <p class='updated'><%= review.updated_at %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
