<h2>All Reviews</h2>
<div class='review_index'>
  <% @reviews.each do |review| %>
  <div class='review_left'>
    <div class='user_info'>
      <h4 class='movie_title'>Review for: <u><%= review.movie.title %></u></h4>
      <h4><%= review.username %></h4>
      <h4><%= review.updated_at %></h4>
      <h4>Rating: <%= review.rating %> out of 5</h4>
      <%= link_to 'Comment', new_review_comment_path(review_id: review.id), id: 'review_btn' %>
    </div>
  </div>
  <div class='review_right'>
    <div class='user_review'>
      <h3><%= review.body %></h3>
      <br style="clear:both;">
    </div>
  </div>
  <% end %>
</div>
