<!DOCTYPE html>
<html>
  <head>
    <title>Marquee</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="header">
      <div class="container">
        <ul class='nav'>
      		<li> Home </li> <li> Search </li> <li> Reviews </li> <li> About </li>
          <% if user_signed_in? %>
            <p class="logged_in"> Logged in as <%= current_user.email %></p>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link' %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: 'navbar-link' %>
            <%= link_to "Login", new_user_session_path, class: 'navbar-link' %>
          <% end %>
          <%= form_tag(@movie, :method => 'get', id: 'search_form') do %>
            <%= text_field_tag :search, params[:movie], placeholder: 'Search Movies' %>
            <%= submit_tag 'Search', :name => nil, class: 'search_button' %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <div class="main">
          <h1>MARQUEE</h1>

          <%= yield %>

          <br style="clear:both;">
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>&copy; Daniel Bacon 2018</p>
      </div>
    </div>
  </body>
</html>
